
<div class="col-sm-10">
  <p><%= comment.body %></p>
</div>
<div class="col-sm-2"
  <% if policy(comment).update? %>
    <small>
      <%= link_to 'Edit', edit_post_comment_path(@presenter.post, comment) %> |
      <%= link_to 'Delete', [@presenter.post, comment], method: :delete, data: { confirm: 'Are you sure?' }, class: 'pull-right' %>
    </small>
  <% end %>
</div>
