<div class="container-fluid">
  <h1>Editing Topic</h1>

  <%= render 'form', topic: @topic %>

  <%= link_to 'Show', book_club_topic_path %> |
  <%= link_to 'Back', book_club_path(@book_club) %>
</div>
