<div class="container">
  <!-- Current book club tiles -->
  <div class="row">
    <div class="col">
      <h3>This Month's Book Clubs</h3>
    </div>
  </div>
  <div class="row member-index-catagory-container">
    <% current.each do |book_club| %>
      <%= render partial: "book_tile", locals: { book_club: book_club } %>
    <% end %>
  </div>

  <!-- Upcoming book club tiles -->
  <div class="row">
    <div class="col">
      <h3>Coming Next Month</h3>
    </div>
  </div>
  <div class="row member-index-catagory-container">
    <% upcoming.each do |book_club| %>
      <%= render partial: "book_tile", locals: { book_club: book_club } %>
    <% end %>
  </div>

  <!-- Past book club tiles -->
  <div class="row">
    <div class="col">
      <h3>Past Book Clubs</h3>
    </div>
  </div>
  <div class="row member-index-catagory-container">
    <% past.each do |book_club| %>
      <%= render partial: "book_tile", locals: { book_club: book_club } %>
    <% end %>
  </div>
  
</div> <!-- end of container -->
