.topic-item-name {
  width: 80%;
}

.topic-item-actions {
  width: 20%;
}

.bookclub-item-thumb {
  width: 10%;
}

.bookclub-item-title {
  width: 40%;
}

.bookclub-item-date {
  width: 15%;
}

.bookclub-item-date {
  width: 20%;
}

.member-index-catagory-container {
  padding: 10px 0 20px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.book-list .cover {
  margin: 0 0 10px;
  height: 227px;
  overflow: hidden;
}

.book-list .title {
  margin-bottom: 5px;
  font-size: 20px;
  color: #000;
  font-weight: 400;
  text-align: left;
}

.book-list .by {
  text-align: left;
  margin-bottom: 10px;
}

.title h2, h4 {
  display: inline-block;
}

.title a {
  float: right;
}

.book-club-info {
  margin-top: 20px;
}

.book-club-info .cover {
  margin-bottom: 20px;
  overflow: hidden;
}
