.topic-item-name {
  width: 80%;
}

.topic-item-actions {
  width: 20%;
}

.bookclub-item-thumb {
  width: 10%;
}

.bookclub-item-title {
  width: 40%;
}

.bookclub-item-date {
  width: 15%;
}

.bookclub-item-date {
  width: 20%;
}

.member-index-catagory-container {
  padding: 10px 0 20px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
