.topic-item-name {
  width: 80%;
}

.topic-item-actions {
  width: 20%;
}

.bookclub-item-thumb {
  width: 10%;
}

.bookclub-item-title {
  width: 40%;
}

.bookclub-item-date {
  width: 15%;
}

.bookclub-item-date {
  width: 20%;
}
