.topic-item-title {
  width: 83%;
}

.topic-item-actions {
  width: 17%;
}

.new-post {
  float: right;
}

.post-info {
  background-color: rgba(0, 0, 0, 0.125);
  padding: 0 5px;
}

.post-info .created {
  float: right;
}

.comment-body {
  margin-bottom: 0;
  padding-bottom: 0;
}

.comment-count {
  float: right;
  margin-bottom: 10px;
}
